{% extends "layout.html" %}
{% block title %}{{ config.title }}{% endblock %}

{% block body %}
<main class="home">
  <h1>{{ section.title }}</h1>

  <div class="intro">
    <div class="tagline">
      <div class="emoji-pair">👨‍💻 Software Developer</div>
    </div>

    {{ section.content | safe }}
  </div>

  <div class="flex">
    <section class="posts-section">
      <h2>
        Recent Posts&#8194;<a href="https://twitter.com/itslemit?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @itslemit</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </h2>

      {% set section = get_section(path="posts/_index.md") %}
      {% set subsections = section.subsections | reverse %}
      {% for sub in subsections %}
        {% set section = get_section(path=sub) %}
        {% for page in section.pages %}
          {% include "article.html" %}
        {% endfor %}
      {% endfor %}
    </section>


  </div>

</main>
{% endblock %}
