<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ config.base_url }}/screen.css" type="text/css" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" href="{{ config.base_url }}/rss.xml" title="Wesley Moore" />
 <link rel="shortcut icon" href="{{ config.base_url }}/favicon.ico" type="image/x-icon">

  {% block metadata %}{% endblock %}
</head>
<body class="{{ section.extra.body_class | default(value="") }}">
  {% block body %}{% endblock %}
  <footer class="text-center">
    <div class="socials">
      <a href="{{ config.base_url }}/about/">About</a>
      <a href="{{ config.base_url }}/posts/">Archives</a>
      &bullet;
      <a href="{{ config.base_url }}/rss.xml">RSS</a>
      <a href="mailto:me@lemito.tk">E-mail</a>    
    </div>
    <div class="copyright">
      Copyright © 2021 &ndash; {{ now() | date(format="%Y") }} {{ config.extra.author }} &mdash;
      <a href="https://gitlab.com/lemito/lemito.gitlab.io">Website Source on Gitlab</a>
    </div>
  </footer>
  <script data-goatcounter="https://lemito.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>

